/* Header.module.css */
.imgContainer {
    background-color: blue; /* Cambia el color de relleno del SVG */
  }

.content{
    margin-bottom: 1rem;
    text-wrap: pretty;
}

.container{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}